.bbt-clicker {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 300px;
    width: 300px;
    box-sizing: unset;
    z-index: 1000;
}

.bbt-counter {
    background: white;
    padding: 5px;
    font-family: sans-serif;
    font-size: 15px;
    top: 0px;
    left: 0px;
    box-sizing: unset;
    color: black;
    border-radius: 10px;
}

.bbt-message {
    display: none;
    width: 158px;
    height: 49px;
    box-shadow: 2px 2px 5px #868686;
    border-radius: 20px;
    background: #eb2f2f;
    text-align: center;
    bottom: -100px;
    position: relative;
    z-index: 100000;
    left: 50px;
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    background: cyan;
  }
}

.bbt-message span {
  display: inline-block !important;
  margin-top: 0 !important;
  padding: 5px !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 15px !important;
  -webkit-text-stroke: 1px black !important;
  line-height: 15px !important;
}

.bbt-message button {
    position: absolute;
    left: -5px;
    top: -5px;
    border: none;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.bubble-tea {
    cursor: pointer;
    box-sizing: unset;
}

.bubble-tea.mini {
    display: none;
    position: absolute;
    right: 25px;
    bottom: 25px;
    box-sizing: unset;
}

.bubble-tea .cup {
    width: 100px;
    right: 0px;
    position: absolute;
    bottom: 2px;
    border-radius: 10px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 200px solid rgba(188, 188, 188, 0.3);
    box-sizing: unset;
}

.bubble-tea.mini .cup {
    width: 80px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 175px solid rgba(188, 188, 188, 0.3);
    box-sizing: unset;
}

.bubble-tea .cup-top {
    position: absolute;
    width: 160px;
    height: 25px;
    background: #fceebc;
    border-radius: 125px / 25px;
    bottom: 186px;
    right: 1px;
    box-sizing: unset;
}

.bubble-tea.mini .cup-top {
    width: 120px;
    height: 23px;
    bottom: 160px;
    box-sizing: unset;
}

.bubble-tea .cup-bottom {
    position: absolute;
    width: 100px;
    height: 25px;
    background: #e3e3e3;
    border-radius: 100px / 25px;
    bottom: -10px;
    right: 30px;
    box-sizing: unset;
}

.bubble-tea.mini .cup-bottom {
    width: 80px;
    height: 20px;
    bottom: -8px;
    right: 20px;
    box-sizing: unset;
}

.bubble-tea .tea {
    border-radius: 5px;
    position: absolute;
    width: 95px;
    bottom: 5px;
    right: -20px;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 150px solid rgba(213, 164, 134, 0.7);
    box-sizing: unset;
}

.bubble-tea.mini .tea {
    width: 75px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 130px solid rgba(213, 164, 134, 0.7);
    right: -13px;
    box-sizing: unset;
}

.bubble-tea .tea-top {
    position: absolute;
    width: 138px;
    height: 25px;
    background: #d5a486;
    border-radius: 125px / 25px;
    bottom: 140px;
    right: -18px;
    box-sizing: unset;
}

.bubble-tea.mini .tea-top {
    width: 103px;
    height: 20px;
    bottom: 123px;
    right: -12px;
    box-sizing: unset;
}

.bubble-tea .tea-bottom {
    position: absolute;
    width: 95px;
    height: 20px;
    background: #e1aa88;
    border-radius: 100px / 25px;
    bottom: -5px;
    right: 3px;
    box-sizing: unset;
}

.bubble-tea.mini .tea-bottom {
    width: 75px;
    height: 15px;
    bottom: -4px;
    right: 2px;
    box-sizing: unset;
}

.bubble-tea .straw {
    position: absolute;
    background: rgba(186, 186, 186, 0.39);
    width: 20px;
    height: 220px;
    border-radius: 5px;
    bottom: 5px;
    transform: rotate(10deg);
    right: 20px;
    box-sizing: unset;
}

.bubble-tea.mini .straw {
    width: 15px;
    height: 190px;
    box-sizing: unset;
}

.bubble-tea .straw-outside-tea {
    height: 76px;
    bottom: 148px;
    right: 8px;
    box-sizing: unset;
}

.bubble-tea.mini .straw-outside-tea {
    height: 50px;
    bottom: 130px;
    right: 10px;
    box-sizing: unset;
}

.bubble-tea .straw-outside-cup {
    height: 25px;
    bottom: 200px;
    right: 33px;
    background: #dbdbdb;
    box-sizing: unset;
}

.bubble-tea.mini .straw-outside-cup {
    height: 25px;
    bottom: 170px;
    right: 25px;
    box-sizing: unset;
}

.bubble-tea .bubbles {
    border-radius: 5px;
    position: absolute;
    width: 90px;
    bottom: 10px;
    right: 5px;
    height: 50px;
    overflow: hidden;
    box-sizing: unset;
}

.bubble-tea.mini .bubbles {
    width: 70px;
    height: 40px;
    right: 5px;
    bottom: 5px;
    box-sizing: unset;
}

.bubble-tea .bubble {
    background: rgba(83, 71, 61, 0.8);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    position: absolute;
    box-sizing: unset;
}

.bubble-tea.mini .bubble {
    width: 10px;
    height: 10px;
    box-sizing: unset;
}
